.sideMenu {
  height: 300px;
  padding: 5px;
  width: 200px;
}
.navbar a:hover {
  background-color: ;
}
.navbar li {
  margin-right: 10px;
  margin-left: 15px;
  padding: 5px;
}
.navbar li {
  color: white;
}
.navbar {
  background-color: #6495ed;
}
.navbar h5 {
  color: white;
}

.sideMenu a {
  text-decoration: none;
}

.sideMenu a:hover {
  background-color: #6495ed;
}
.sideMenu a:focus {
  background-color: #d9ffb3;
}

.sideMenu h5 {
  text-align: center;
  font-size: 25px;
}
.sideMenu,
a {
  text-align: center;
}
